.btn-style {
  display: inline-block; /* Строчно-блочный элемент */
  background: lightskyblue; /* Серый цвет фона */
  color: black; /* Белый цвет текста */
  padding: 1rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px; /* Скругляем уголки */
}

.btn-style:hover {
  color: lightskyblue;
  background: black;
}

.buttons {
  display: flex;
  margin-top: 250px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
}

.btn {
  margin-top: 250px;
  margin-left: 115px;
}

.btn1 {
  width: 100px;
  height: 100%;
}

.btn2 {
  width: 150px;
  height: 100%;
}
